<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640255228311-cs780rk891m1l6vo6hbju2kooorhpu7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640255228311-cs780rk891m1l6vo6hbju2kooorhpu7l</string>
	<key>API_KEY</key>
	<string>AIzaSyBWnOKeqH2jPpgMSLu8jenXnFXuvDyN_zM</string>
	<key>GCM_SENDER_ID</key>
	<string>640255228311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.qfashion.appQfashion</string>
	<key>PROJECT_ID</key>
	<string>qfashion-69714</string>
	<key>STORAGE_BUCKET</key>
	<string>qfashion-69714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640255228311:ios:6dbcdb893584a7183aacd2</string>
</dict>
</plist>